<footer class="footer">
  <p class="footer__lead">
    This site is unofficial by fan and is in no way affiliated with the official
    hololive website.<br />
    このサイトはファンによる非公式のものであり、hololiveの公式サイトとは一切関係ありません。
  </p>

  <ul class="footer-links">
    <li class="footer-links__item">
      <a href="https://hololive.hololivepro.com/"
        >hololive（ホロライブ）公式サイトはこちら</a
      >
    </li>
    <li class="footer-links__item">
      <a href="/privacy/">Privacy Policy</a>
    </li>
    <li class="footer-links__item">
      <a href="https://forms.gle/icZ34K4ioTKTQfK69" target="_blank">Contact</a>
    </li>
  </ul>

  <p class="footer__copy">
    <small>&copy; 2024 kon-k.</small>
  </p>
</footer>

<style>
  .footer {
    padding: 1rem;
    text-align: center;
    color: var(--color-primary);
    font-size: 1.4rem;
  }
  .footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer-links__item:not(:last-child)::after {
    content: "|";
    margin: 0 0.8em;
  }
  .footer-links__item a {
    display: inline-block;
  }
  .footer__lead {
    margin-bottom: 1rem;
  }
  .footer__copy {
    margin-top: 1rem;
  }
  .footer__bar {
    margin: 0 1em;
  }
  @media (max-width: 768px) {
    .footer {
      font-size: 1.6rem;
    }
  }
</style>
