---
interface Props {
  title: string;
  id: string;
}

const { title, id } = Astro.props;
---

<h2 id={id} class="heading2">
  {title}
</h2>

<style>
  .heading2 {
    font-size: 5rem;
    font-weight: 900;
    margin-top: 10rem;
    margin-bottom: 2rem;
  }
</style>
