---
interface Props {
  title: string;
  id: string;
}

const { title, id } = Astro.props;
---

<h3 class="heading3" id={id}>{title}</h3>
<style>
  .heading3 {
    font-size: 3rem;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
</style>
