---
interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<a href={href} class="link-a">
  {title}
</a>

<style>
  .link-a {
    padding: 1.5rem 3rem;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 2.8rem;
    line-height: 1;
    font-weight: 700;
    color: var(--color-tertiary);
    background-color: var(--color-primary);
    transition: all 0.2s;
  }
  .link-a:hover {
    color: var(--color-primary);
    background-color: var(--color-tertiary-light);
  }
</style>
