---
interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<div class="link-a">
  <a href={href} class="">
    {title}
  </a>
</div>

<style>
  .link-a {
    width: 100%;
    min-width: 15rem;

    display: flex;
    padding: 1px;
    background-color: var(--color-card-bg);
    background-image: none;
    background-size: 400%;
    border-radius: 0.7rem;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }
  .link-a > a {
    width: 100%;
    height: 100%;
    padding: 0.5rem 3rem;
    border-radius: 0.8rem;
    background-color: var(--color-card-bg);
    text-decoration: none;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.4;
    color: var(--color-primary);
    opacity: 0.8;
  }
  .link-a:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
    color: rgb(var(--accent-light));
  }
</style>
