---
import "@fontsource-variable/noto-sans-jp";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-275FLJ59G7"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-275FLJ59G7");
    </script>

    <meta charset="UTF-8" />
    <meta
      name="description"
      content="This page contains themes created by hololive fan. Which talent do you like?"
    />
    <meta name="viewport" content="width=device-width" />
    <!-- TODO: OGP -->
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  ul,
  ol,
  li,
  ul[role="list"],
  ol[role="list"] {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  :root {
    --accent: 57, 171, 224;
    --accent-light: 181, 230, 247;
    --accent-dark: 29, 87, 112;

    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
    --color-primary: #fff;
    --color-secondary: #244667;
    --color-tertiary: #13151a;
    --color-tertiary-light: #5b7291;
    --color-card-bg: #23262d;
  }
  html {
    font-family: "Noto Sans JP Variable", system-ui, sans-serif;
    background: var(--color-tertiary);
    background-size: 224px;
    font-size: 62.5%;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  a {
    color: var(--color-primary);
  }
</style>
