---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import "@fontsource-variable/noto-sans-jp";
---

<Layout title="Privacy Policy | Hololove Chrome Themes">
  <main class="container">
    <h1>プライバシーポリシー</h1>

    <hr />

    <p>当サイトは、「Googleアナリティクス」を使用しています。</p>
    <p>データの収集のためにCookieを使用しています。</p>
    <p>このデータは匿名で収集されており、個人を特定するものではありません。</p>
    <p>
      この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。
    </p>
    <br />
    <p>この規約に関しての詳細は以下をご参照ください。</p>
    <div>
      ● <a
        href="https://policies.google.com/technologies/partner-sites?hl=ja"
        target="_blank"
        rel="noreferrer"
        class="link">Googleポリシーと規約</a
      >
    </div>
    <p>
      当サイトからリンクやバナーなどによって他のサイトに移動された場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。
    </p>

    <hr />

    <p>This website uses "Google Analytics".</p>
    <p>Cookies are used to collect data.</p>
    <p>
      This data is collected anonymously and does not personally identify you.
    </p>
    <p>
      You can opt out of this feature by disabling cookies, so please check your
      browser settings.
    </p>
    <br />
    <p>
      For more information on these terms and conditions, please see the
      following.
    </p>
    <div>
      ● <a
        href="https://policies.google.com/technologies/partner-sites?hl=ja"
        target="_blank"
        rel="noreferrer"
        class="link">Google Policies and Terms</a
      >
    </div>
    <p>
      When you are transferred to other sites from this site by links, banners,
      etc., we are not responsible for the information, services, etc., provided
      on those sites.
    </p>

    <hr />

    <br />
    <a href="/">Back to Top</a>
  </main>
  <Footer />
</Layout>

<style>
  .container {
    margin: auto;
    padding: 10rem 0;
    max-width: 1400px;
    width: 90%;
    color: white;
    font-size: 1.6rem;
    line-height: 1.6;
  }
  hr {
    margin: 3rem 0;
  }
</style>
